{% extends 'main/general.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Заявка{% endblock %}
{% block body %}

<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="add_application-tab" data-bs-toggle="tab" href="#add_application" role="tab" aria-controls="add_application" aria-selected="true">Оставить заявку</a>
        </li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="add_application" role="tabpanel" aria-labelledby="add_application-tab">
            <div class="card w-100">
                <div class="card-body">
                    <h2>Создание новой заявки</h2>
                    <form method="post" action="{% url 'request:add_orders' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="w-100 btn btn-lg btn-primary mt-4" type="submit" id="submit" onclick="clicks();">Создать</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="record" role="tabpanel" aria-labelledby="record-tab">
            <div class="card w-100 mt-4">
                <div class="card-body">
                    <h2>Ваши заявки</h2>
                    <ul class="list-group">
                        {% for app in user_applications %}
                            <li class="list-group-item my-2 rounded">
                                <div class="fw-bold bg-status-{{ app.status_application.id }} p-2 w-25">Номер заявки: 
                                    <span class="fw-normal">
                                        {{ app.id }}
                                    </span>
                                </div>
                                <div class="fw-bold p-2">Дата: <span class="fw-normal">{{ app.date }}</span></div>
                                <div class="fw-bold p-2">Описание проблемы: <span class="fw-normal">{{ app.description }}</span></div>
                                <div class="fw-bold p-2">Кабинет: <span class="fw-normal">{{ app.number_cab }}</span></div>
                                <div class="fw-bold p-2">Статус: 
                                    <span class="fw-normal status-{{ app.status_application.id }}">
                                        {{ app.status_application }}
                                    </span>
                                </div>
                            </li>
                            <div class="d-flex justify-content-between my-2">
                                {% if app.status_application.id == 1 %}
                                <div class="d-flex justify-content-between align-items-center">
                                    
                                    <button class="btn btn-primary me-2" type="button" onclick="editApplication({{ app.id }})">Редактировать</button>
                                    
                                    <form method="post" action="{% url 'request:delete_application' app.id %}">
                                        {% csrf_token %}
                                        <button class="btn btn-danger" type="submit">Удалить</button>
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                            
                            <div class="my-2">
                                <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#historyModal{{ app.id }}">История</button>
                            </div>            
                            
                            <div class="p-1 bg-secondary w-100 rounded"></div>

                          

        
                            
                        {% empty %}
                            <p>У вас нет активных заявок.</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>    
        </div>
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
<script>
    deleteAsteriskFields()
    itemFormRow()
</script>
{% endblock %}
