{% extends 'main/general.html' %}
{% load crispy_forms_tags %}



{% block head %}

{% block title %}Авторизация{% endblock %}

{% endblock %}


{% block body %}





    <div class="container d-flex justify-content-center align-items-center mx-auto py-4 border rounded w-25">
        <form method="post">
            <h1 class="col-12 text-center">Авторизация</h1>
            {% csrf_token %}

            {{ form|crispy }}

{#            {% for f in form %}#}
{#                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f|crispy }}</p>#}
{#                <div class="form-error">{{ f.errors }}</div>#}
{#            {% endfor %}#}
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
        </form>
    </div>
    <script>
        deleteAsteriskFields()
    </script>
{% endblock %}



